<!doctype html >
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-controller="PageCtrl" ng-app="espnCreativeworksShowcaseApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-controller="PageCtrl" ng-app="espnCreativeworksShowcaseApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-controller="PageCtrl" ng-app="espnCreativeworksShowcaseApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-controller="PageCtrl" ng-app="espnCreativeworksShowcaseApp"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <meta name="fragment" content="!"> 
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
    <title ng-bind="page.meta.title + page.meta.titleSuffix"></title>
    <meta name="description" ng-attr-content="{{page.meta.description}}">
    <meta name="keywords" ng-attr-content="{{page.meta.keywords}}">

    <!-- twitter meta -->
    <meta ng-attr-name="{{key}}" ng-attr-content="{{value}}" ng-repeat="(key,value) in page.meta.twitter">
    <!-- facebook meta -->
    <meta ng-attr-property="{{key}}" ng-attr-content="{{value}}" ng-repeat="(key,value) in page.meta.facebook">

    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/blueimp-file-upload/css/jquery.fileupload.css" />
      <link rel="stylesheet" href="bower_components/blueimp-file-upload/css/jquery.fileupload-ui.css" />
      <link rel="stylesheet" href="bower_components/blueimp-file-upload/css/jquery.fileupload-noscript.css" />
      <link rel="stylesheet" href="bower_components/blueimp-file-upload/css/jquery.fileupload-ui-noscript.css" />
      <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <!-- endinjector -->
    <!-- endbuild -->
    <script src="//use.typekit.net/qme5qin.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <meta name="google-site-verification" content="IgHudSIAb5AIPLwV1RWFpuCWSNLYIdyDRISDKSNdtL4" />
  </head>
  <body ng-class="page.body.class">
    <div ng-include="'components/menu/menu.html'"></div>
    <!-- Add your site or application content here -->
    <div id="body-container" ui-view=""></div>
    <ng-include src="'components/footer/footer.html'"></ng-include>

    <!-- Google Analytics -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', 'UA-61288842-1', 'auto');
       ga('require', 'displayfeatures');
       ga('require', 'linkid', 'linkid.js');
    </script>

    <!-- Facebook SDK -->
    <script>
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       js.async = true;
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

     window.fbAsyncInit = function (){
       FB.init({
         appId: '773090532777126',
         status: true,
         xfbml: true,
         version: 'v2.0'
       });
     };
    </script>

    <!-- Twitter Widgets -->
    <script>
      window.twttr = (function (d,s,id) {
        var t, js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
        js.src="https://platform.twitter.com/widgets.js";
        js.async = true;
        fjs.parentNode.insertBefore(js, fjs);
        return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
      }(document, "script", "twitter-wjs"));

      twttr.ready(function (twttr) {
        twttr.events.bind('tweet', function (event) {
          ga('send', {
            hitType: 'social',
            socialNetwork: 'Twitter',
            socialAction: 'Tweet',
            socialTarget: $(event.target).attr('data-share-url'),
            page: document.title
          });
        });
      });
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/modernizr/modernizr.js"></script>
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="bower_components/lodash/dist/lodash.compat.js"></script>
      <script src="bower_components/angular-socket-io/socket.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="bower_components/blueimp-tmpl/js/tmpl.js"></script>
      <script src="bower_components/blueimp-load-image/js/load-image.js"></script>
      <script src="bower_components/blueimp-load-image/js/load-image-ios.js"></script>
      <script src="bower_components/blueimp-load-image/js/load-image-orientation.js"></script>
      <script src="bower_components/blueimp-load-image/js/load-image-meta.js"></script>
      <script src="bower_components/blueimp-load-image/js/load-image-exif.js"></script>
      <script src="bower_components/blueimp-load-image/js/load-image-exif-map.js"></script>
      <script src="bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.js"></script>
      <script src="bower_components/blueimp-file-upload/js/cors/jquery.postmessage-transport.js"></script>
      <script src="bower_components/blueimp-file-upload/js/cors/jquery.xdr-transport.js"></script>
      <script src="bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
      <script src="bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>
      <script src="bower_components/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
      <script src="bower_components/blueimp-file-upload/js/jquery.fileupload-validate.js"></script>
      <script src="bower_components/blueimp-file-upload/js/jquery.fileupload-image.js"></script>
      <script src="bower_components/blueimp-file-upload/js/jquery.fileupload-audio.js"></script>
      <script src="bower_components/blueimp-file-upload/js/jquery.fileupload-video.js"></script>
      <script src="bower_components/blueimp-file-upload/js/jquery.fileupload-ui.js"></script>
      <script src="bower_components/blueimp-file-upload/js/jquery.fileupload-jquery-ui.js"></script>
      <script src="bower_components/blueimp-file-upload/js/jquery.fileupload-angular.js"></script>
      <script src="bower_components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
      <script src="bower_components/cloudinary_js/js/jquery.cloudinary.js"></script>
      <script src="bower_components/cloudinary_ng/js/angular.cloudinary.js"></script>
      <script src="bower_components/moment/moment.js"></script>
      <script src="bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
      <script src="bower_components/angular-momentjs/angular-momentjs.js"></script>
      <script src="bower_components/ng-underscore/build/ng-underscore.js"></script>
      <script src="bower_components/async/lib/async.js"></script>
      <script src="bower_components/checklist-model/checklist-model.js"></script>
      <script src="bower_components/waypoints/waypoints.js"></script>
      <script src="bower_components/SHA-1/sha1.js"></script>
      <script src="bower_components/angulartics/src/angulartics.js"></script>
      <script src="bower_components/angulartics/src/angulartics-adobe.js"></script>
      <script src="bower_components/angulartics/src/angulartics-chartbeat.js"></script>
      <script src="bower_components/angulartics/src/angulartics-cnzz.js"></script>
      <script src="bower_components/angulartics/src/angulartics-flurry.js"></script>
      <script src="bower_components/angulartics/src/angulartics-ga-cordova.js"></script>
      <script src="bower_components/angulartics/src/angulartics-ga.js"></script>
      <script src="bower_components/angulartics/src/angulartics-gtm.js"></script>
      <script src="bower_components/angulartics/src/angulartics-kissmetrics.js"></script>
      <script src="bower_components/angulartics/src/angulartics-mixpanel.js"></script>
      <script src="bower_components/angulartics/src/angulartics-piwik.js"></script>
      <script src="bower_components/angulartics/src/angulartics-scroll.js"></script>
      <script src="bower_components/angulartics/src/angulartics-segmentio.js"></script>
      <script src="bower_components/angulartics/src/angulartics-splunk.js"></script>
      <script src="bower_components/angulartics/src/angulartics-woopra.js"></script>
      <script src="bower_components/angulartics/src/angulartics-marketo.js"></script>
      <script src="bower_components/angulartics/src/angulartics-intercom.js"></script>
      <script src="bower_components/jquery-zoom/jquery.zoom.js"></script>
      <!-- endbower -->
      <script src="socket.io-client/socket.io.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,client}) app/app.js -->
    <script src="app/app.js"></script>
      <!-- injector:js -->
      <script src="app/account/account.js"></script>
      <script src="app/account/login/login.controller.js"></script>
      <script src="app/account/login/login.modal.controller.js"></script>
      <script src="app/account/settings/settings.controller.js"></script>
      <script src="app/account/signup/signup.controller.js"></script>
      <script src="app/account/signup/signup.modal.controller.js"></script>
      <script src="app/admin/admin.controller.js"></script>
      <script src="app/admin/admin.js"></script>
      <script src="app/brands/brands.js"></script>
      <script src="app/brands/brands.service.js"></script>
      <script src="app/brands/detail/brands.detail.controller.js"></script>
      <script src="app/brands/detail/brands.detail.js"></script>
      <script src="app/brands/list/brands.list.controller.js"></script>
      <script src="app/brands/list/brands.list.js"></script>
      <script src="app/collection-items/collection-items.js"></script>
      <script src="app/collection-items/collection-items.service.js"></script>
      <script src="app/collection-items/detail/collection-items.detail.controller.js"></script>
      <script src="app/collection-items/detail/collection-items.detail.js"></script>
      <script src="app/collection-items/list/collection-items.list.controller.js"></script>
      <script src="app/collection-items/list/collection-items.list.js"></script>
      <script src="app/collection-items/modal/collection-items.modal.controller.js"></script>
      <script src="app/collection-items/modal/collection-items.modal.js"></script>
      <script src="app/collections/collections.js"></script>
      <script src="app/collections/collections.service.js"></script>
      <script src="app/collections/detail/collections.detail.controller.js"></script>
      <script src="app/collections/detail/collections.detail.js"></script>
      <script src="app/collections/list/collections.list.controller.js"></script>
      <script src="app/collections/list/collections.list.js"></script>
      <script src="app/collections/modal/collections.modal.controller.js"></script>
      <script src="app/collections/modal/collections.modal.js"></script>
      <script src="app/errors/errors.controller.js"></script>
      <script src="app/errors/errors.js"></script>
      <script src="app/execution-tags/detail/execution-tags.detail.controller.js"></script>
      <script src="app/execution-tags/detail/execution-tags.detail.js"></script>
      <script src="app/execution-tags/execution-tags.js"></script>
      <script src="app/execution-tags/execution-tags.service.js"></script>
      <script src="app/execution-tags/list/execution-tags.list.controller.js"></script>
      <script src="app/execution-tags/list/execution-tags.list.js"></script>
      <script src="app/executions/detail/executions.detail.controller.js"></script>
      <script src="app/executions/detail/executions.detail.js"></script>
      <script src="app/executions/executions.js"></script>
      <script src="app/executions/executions.service.js"></script>
      <script src="app/executions/list/executions.list.controller.js"></script>
      <script src="app/executions/list/executions.list.js"></script>
      <script src="app/home/home.controller.js"></script>
      <script src="app/home/home.js"></script>
      <script src="app/images/detail/images.detail.controller.js"></script>
      <script src="app/images/detail/images.detail.js"></script>
      <script src="app/images/images.js"></script>
      <script src="app/images/images.service.js"></script>
      <script src="app/images/list/images.list.controller.js"></script>
      <script src="app/images/list/images.list.js"></script>
      <script src="app/industries/detail/industries.detail.controller.js"></script>
      <script src="app/industries/detail/industries.detail.js"></script>
      <script src="app/industries/industries.js"></script>
      <script src="app/industries/industries.service.js"></script>
      <script src="app/industries/list/industries.list.controller.js"></script>
      <script src="app/industries/list/industries.list.js"></script>
      <script src="app/locations/detail/locations.detail.controller.js"></script>
      <script src="app/locations/detail/locations.detail.js"></script>
      <script src="app/locations/list/locations.list.controller.js"></script>
      <script src="app/locations/list/locations.list.js"></script>
      <script src="app/locations/locations.js"></script>
      <script src="app/locations/locations.service.js"></script>
      <script src="app/page/page.controller.js"></script>
      <script src="app/page/page.service.js"></script>
      <script src="app/people/detail/people.detail.controller.js"></script>
      <script src="app/people/detail/people.detail.js"></script>
      <script src="app/people/list/people.list.controller.js"></script>
      <script src="app/people/list/people.list.js"></script>
      <script src="app/people/people.js"></script>
      <script src="app/people/people.service.js"></script>
      <script src="app/platforms/detail/platforms.detail.controller.js"></script>
      <script src="app/platforms/detail/platforms.detail.js"></script>
      <script src="app/platforms/list/platforms.list.controller.js"></script>
      <script src="app/platforms/list/platforms.list.js"></script>
      <script src="app/platforms/platforms.js"></script>
      <script src="app/platforms/platforms.service.js"></script>
      <script src="app/projects/card/projects.card.controller.js"></script>
      <script src="app/projects/card/projects.card.directive.js"></script>
      <script src="app/projects/card/projects.card.js"></script>
      <script src="app/projects/detail/projects.detail.controller.js"></script>
      <script src="app/projects/detail/projects.detail.js"></script>
      <script src="app/projects/filter/projects.filter.controller.js"></script>
      <script src="app/projects/filter/projects.filter.service.js"></script>
      <script src="app/projects/list/projects.list.controller.js"></script>
      <script src="app/projects/list/projects.list.js"></script>
      <script src="app/projects/projects.js"></script>
      <script src="app/projects/projects.service.js"></script>
      <script src="app/sports/detail/sports.detail.controller.js"></script>
      <script src="app/sports/detail/sports.detail.js"></script>
      <script src="app/sports/list/sports.list.controller.js"></script>
      <script src="app/sports/list/sports.list.js"></script>
      <script src="app/sports/sports.js"></script>
      <script src="app/sports/sports.service.js"></script>
      <script src="app/videos/detail/videos.detail.controller.js"></script>
      <script src="app/videos/detail/videos.detail.js"></script>
      <script src="app/videos/list/videos.list.controller.js"></script>
      <script src="app/videos/list/videos.list.js"></script>
      <script src="app/videos/modal/videos.modal.controller.js"></script>
      <script src="app/videos/modal/videos.modal.js"></script>
      <script src="app/videos/videos.js"></script>
      <script src="app/videos/videos.service.js"></script>
      <script src="components/as/as.filter.js"></script>
      <script src="components/auth/account.service.js"></script>
      <script src="components/auth/auth.service.js"></script>
      <script src="components/auth/me.service.js"></script>
      <script src="components/background-image/background-image.directive.js"></script>
      <script src="components/bubble/bubble.directive.js"></script>
      <script src="components/config/config.cloudinary.js"></script>
      <script src="components/full-description/full-description.filter.js"></script>
      <script src="components/fullname/fullname.filter.js"></script>
      <script src="components/fullpage/fullpage.directive.js"></script>
      <script src="components/image-zoom/image-zoom.directive.js"></script>
      <script src="components/menu/menu.controller.js"></script>
      <script src="components/menu/menu.directive.js"></script>
      <script src="components/modal/modal.service.js"></script>
      <script src="components/mongoose-error/mongoose-error.directive.js"></script>
      <script src="components/scroll-down/scroll-down.directive.js"></script>
      <script src="components/share/share.directive.js"></script>
      <script src="components/socket/socket.service.js"></script>
      <script src="components/tag/tag.directive.js"></script>
      <script src="components/toggle-collection/toggle-collection.directive.js"></script>
      <script src="components/video-embed/video-embed.directive.js"></script>
      <script src="components/vimeo/vimeo.service.js"></script>
      <!-- endinjector -->
    <!-- endbuild -->
</body>
</html>
