<div fullpage background-image="'assets/images/bg_home.png'">
  <div class="container auth-container transform-translate-align vertical">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="espn-title">Change Email</h1>
      </div>
      <div class="col-xs-12">
        <form class="form auth-form" name="emailForm" ng-submit="changeEmail(emailForm)" novalidate>

          <div class="form-group">
            <label class="sr-only">New Email</label>
            <div class="input-group">
              <input type="email" name="newEmail" class="form-control" ng-model="account.newEmail" ng-minlength="3" placeholder="New Email" required />  
              <div class="input-group-addon">
                <i class="fa fa-at"></i>
              </div>
            </div>
            <p class="help-block" ng-show="(emailForm.newEmail.$error.minlength || emailForm.newEmail.$error.required) && (emailForm.newEmail.$dirty || newEmailSubmitted)">Email must be at least 3 characters.</p>
          </div>

          <p class="help-block" ng-show="newEmailSubmitted">{{message}}</p>

          <button class="btn btn-espn btn-inverse" type="submit">Save changes</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h1 class="espn-title">Change Password</h1>
      </div>
      <div class="col-xs-12">
        <form class="form auth-form" name="passwordForm" ng-submit="changePassword(passwordForm)" novalidate>

          <div class="form-group">
            <label class="sr-only">Current Password</label>
            <div class="input-group">
              <input type="password" name="password" class="form-control" ng-model="account.oldPassword" placeholder="Current Password" mongoose-error />
              <div class="input-group-addon">
                <i class="fa fa-lock"></i>
              </div>
            </div>
            <p class="help-block" ng-show="passwordForm.password.$error.mongoose">{{errors.other}}</p>
          </div>

          <div class="form-group">
            <label class="sr-only">New Password</label>
            <div class="input-group">
              <input type="password" name="newPassword" class="form-control" ng-model="account.newPassword" ng-minlength="3" placeholder="New Password" required />
              <div class="input-group-addon">
                <i class="fa fa-lock"></i>
              </div>
            </div>
            <p class="help-block" ng-show="(passwordForm.newPassword.$error.minlength || passwordForm.newPassword.$error.required) && (passwordForm.newPassword.$dirty || newPasswordSubmitted)">Password must be at least 3 characters.</p>
          </div>

          <p class="help-block" ng-show="newPasswordSubmitted">{{message}}</p>

          <button class="btn btn-espn btn-inverse" type="submit">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>