.project-card-container {
  padding: 10px;

  .card {
    width: 100%;
    max-width: 467px;
    margin: 0 auto;
  }

  .card-image-link {
    display: block;
    width: 100%;
    position: relative;
  }

  .card-image.fallback .card-image-link {
    background-color: darken($espn-light, 15%);
  }

  .card-header.people {
    font-family: $espn-font-family-headings;
    text-transform: uppercase;
    margin: 5px 0 0 0 !important;
    text-align: center;
  } 

  .card-desc {
    color: $espn-neutral;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 0;
  }
}