<div class="modal-header">
  <button type="button" class="close transform-translate-align vertical absolute" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
  <h3 class="modal-title collection-title espn-title">Create New Collection</h3>
</div>
<div class="modal-body">
  <div class="modal-body-container">
    <div class="row">
      <div class="col-xs-12">
        <form class="form create-collection-form" name="createCollectionForm" ng-submit="createCollection(form)" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label class="sr-only">Name</label>
                <div class="input-group col-xs-12">
                  <input type="text" name="collection.name" class="form-control" ng-model="collection.name" autofocus required>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <label class="sr-only">Visibility</label>
                <div class="input-group">
                  <select name="private" class="form-control wishlist-create-privacy">
                    <option value="0" selected="">Everyone</option>
                    <option value="1">Only Me</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xs-12 hide">
              <div class="form-group">
                <div class="input-group col-xs-12">
                  <button type="submit" class="btn btn-primary btn-block">Create</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a href="javascript:void(0);" class="btn btn-espn btn-primary modal-control" ng-click="save()" title="Save">Save</a>
  <a href="javascript:void(0);" class="btn btn-espn modal-control" ng-click="cancel()" title="Save">Cancel</a>
</div>