.project-card-container {
  $card-min-height: 300px;
  $card-image-min-height: 208px;

  min-height: $card-min-height;
  padding: 10px;
  
  .card {
    width: 100%;
    margin: 0 auto;
  }

  .card-image-link {
    display: block;
    width: 100%;
    min-height: $card-image-min-height;
  }

  .card-image.fallback .card-image-link {
    line-height: $card-image-min-height;
    background-color: darken($espn-light, 15%);
    background-image: url($image-path + 'bg_project_execution.png');
    background-size: 32px 32px;
  }

  .card-header {
    font-family: $espn-font-family-headings;
    text-transform: uppercase;
    margin: 5px 0 0 0 !important;
  } 

  .card-desc {
    color: $espn-neutral;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 0;
  }
}

@media (min-width: $screen-sm-min){
  .project-card-container .card {
    max-width: 467px;
  }
}