<div class="footer">
  <div class="container">
    <div class="diamond fill">
      <a share="" href="javascript:void(0);" class="footer-link social-share" data-share-action="share-facebook" data-share-url="" title="Share on Facebook"><i class="fa fa-facebook fa-2x"></i></a>
    </div>
    <div class="diamond fill">
      <a share="" href="javascript:void(0);" class="footer-link social-share" data-share-action="share-twitter" data-share-url="" data-share-text="" data-share-hashtags="" title="Share on Twitter"><i class="fa fa-twitter fa-2x"></i></a>
    </div>
  </div>
</div>