<div class="footer">
  <div class="container">
    <div class="diamond fill">
      <a share="" href="javascript:void(0);" class="footer-link social-share" data-share-action="share-facebook" data-share-url="{{sharing.url}}" title="Share on Facebook"><i class="fa fa-facebook fa-2x"></i></a>
    </div>
    <div class="diamond fill">
      <a share="" href="javascript:void(0);" class="footer-link social-share" data-share-action="share-twitter" data-share-url="{{sharing.url}}" data-share-text="{{sharing.text}}" data-share-hashtags="" title="Share on Twitter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    </div>
  </div>
</div>