<div>
  <div class="project-hero" fullpage="" background-image="project.hero.file.transformedUrl">
    <div class="container transform-translate-align vertical">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="project-tagline espn-title">{{project.tagline}}</h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <hr class="narrow thick light">
        </div>
        <div class="col-xs-12">
          <p class="project-title">{{project.title}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="project-summary-container">
    <div class="container">
      <div class="row project-summary">
        <div class="col-xs-12 col-sm-8">
          <p class="project-description" ng-bind-html="project.description | fullDescription"></p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h4 class="summary-heading">Brand</h4>
          <p class="brand-links"><a class="brand-link" ng-href="{{brand.homepage}}" target="_blank" ng-repeat="brand in project.brands"><span class="brand-name">{{brand.name}}</span></a></p>
          <h4 class="summary-heading">Highlights</h4>
          <div class="project-highlights" ng-bind-html="project.highlights.html"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="execution" ng-repeat="execution in project.$executions">
    <div class="execution-description-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p class="execution-description brief" ng-bind-html="execution.description.brief.html"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 execution-media-container">
          <div class="execution-images-container" ng-if="execution.images.length">
            <cl-image public-id="{{image.file.public_id}}" class="img-responsive center-block" ng-repeat="image in execution.images">
            </cl-image>
          </div>

          <div class="execution-videos-container" ng-if="execution.videos.length">
            <div class="row video-item" ng-repeat="video in execution.videos">
              <div class="col-xs-12 col-sm-6">
                <video-embed video="video" is-modal="false"></video-embed>
              </div>
              <div class="col-xs-12 col-sm-6">
                <h4 class="video-title espn-title"><a class="video-detail-link" ui-sref="videos.detail({ id: video.slug })" ng-attr-title="video.title || video.embed.title">{{video.title || video.embed.title}}</a></h4>
              </div>
              <div class="col-xs-9 col-sm-6">
                <hr class="thick light short">
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="video-caption" ng-bind-html="video.caption.html"></div>
                <div class="video-credits" ng-if="video.$people.length">Featuring: 
                  <ng-pluralize count="video.$people.length" offset="2" when="{
                    '0': '',
                    '1': '{{video.$people[0].name | fullname}}',
                    '2': '{{video.$people[0].name | fullname}} and {{video.$people[1].name | fullname}}',
                    'one': '{{video.$people[0].name | fullname}}, {{video.$people[1].name | fullname}} and one other',
                    'other': '{{video.$people[0].name | fullname}}, {{video.$people[1].name | fullname}} and {} others'
                  }"></ng-pluralize>
                  <!--
                  <a class="person-link" ui-sref="people.detail({ id: person.slug })" ng-attr-title="{{person.name | fullname}}" ng-repeat="person in video.$people">
                    <span class="person-link-text">{{person.name | fullname}}</span>
                  </a>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
  	<div class="container">
  		<div class="row">
  			<div class="col-xs-12 col-md-3 footer-tags">
  				<div class="row title">
  					<div class="col-xs-12 text-center">
              <h6 class="footer-header">Tags</h6>
            </div>
  				</div>
  				<div class="row tags">
  					<ul class="col-xs-12 active-filter-tag-list list-unstyled list-inline">
  					  <!-- platform filter tags -->
  					  <li class="active-filter-tag-container" ng-repeat="tag in project.$tags">
  					    <tag text="tag.name"></tag>
  					  </li>
  					</ul>  				
  				</div>
  			</div>
  			<div class="col-xs-12 col-md-6 related-projects">
  				<div class="row title">
            <div class="col-xs-12 visible-xs visible-sm">
              <hr class="neutral short">  
            </div>
  					<div class="col-xs-12 text-center">
             <h6 class="footer-header">Related Projects</h6>     
            </div>
  				</div>
  				<div class="row project">
            <project-card project="project" cols="'col-xs-12 col-sm-6'" ng-repeat="project in project.$related"></project-card>
   				</div>
  			</div>
  			<div class="col-xs-12 col-md-3 footer-view-all">
  				<div class="row title">
            <div class="col-xs-12 visible-xs visible-sm">
              <hr class="neutral short">  
            </div>
  					<div class="col-xs-12 text-center">
              <h6 class="footer-header">View All Projects</h6>     
            </div>
  					<div class="col-xs-12 center-block icon">
  						<a ui-sref="projects.list">
  							<img class="center-block" src="assets/images/icon_view_all_projects.png" />
  						</a>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</div>
