<div fullpage slides="project.$executions" options="fullpage.options">
  <div class="project-hero" fullpage-slide background-image="project.hero.file.transformedUrl">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="project-tagline espn-title">{{project.tagline}}</h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <hr class="narrow thick light">
        </div>
        <div class="col-xs-12">
          <p class="project-title">{{project.title}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="" fullpage-slide>
    <div class="container">
      <div class="row project-summary">
        <div class="col-xs-12 col-sm-8">
          <p class="project-description" ng-bind-html="project.description | fullDescription"></p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h4 class="summary-heading">Brand</h4>
          <p class="brand-links"><a class="brand-link" ng-href="{{brand.homepage}}" target="_blank" ng-repeat="brand in project.brands"><span class="brand-name">{{brand.name}}</span></a></p>
          <h4 class="summary-heading">Highlights</h4>
          <div class="project-highlights" ng-bind-html="project.highlights.html"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="execution" fullpage-slide ng-repeat="execution in project.$executions">
    <div class="execution-description-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p class="execution-description brief" ng-bind-html="execution.description.brief.html"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 execution-media-container">
          <div class="execution-images-container" ng-if="execution.images.length">
            <cl-image public-id="{{image.file.public_id}}" class="img-responsive" ng-repeat="image in execution.images">
            </cl-image>
          </div>

          <div class="execution-videos-container" ng-if="execution.videos.length">
            <div class="row video-item" ng-repeat="video in execution.videos">
              <div class="col-xs-12 col-sm-6">
                <video-embed video="video" is-modal="false"></video-embed>
              </div>
              <div class="col-xs-12 col-sm-6">
                <h4 class="video-title espn-title">{{video.title || video.embed.title}}</h4>
              </div>
              <div class="col-xs-9 col-sm-6">
                <hr class="thick light short">
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="video-caption" ng-bind-html="video.caption.html"></div>
                <div class="video-credits">Featuring: <span ng-repeat="person in video.people">{{person}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
