$footer-border-color: $espn-neutral;
$summary-font-size: 13px;

body.project-detail {

  .project-hero {
    text-align: center;
    color: $espn-light;
  }

  .project-title,
  .project-tagline {
    color: $espn-light;
  }

  .project-title {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
  }
  
  .project-tagline {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .project-summary-container {
    color: $espn-dark;
    background-color: $espn-light;
  }

  .project-summary {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .summary-heading {
    color: $espn-red;
    text-transform: uppercase;
    font-size: $summary-font-size;
  }

  .summary-heading.brand {
    margin-top: 0;
  }
  
  .brand-links,
  .project-highlights,
  .project-sharing-controls {
    padding-bottom: 14px;
  }

  .brand-link {
    color: $espn-dark;
    font-size: $summary-font-size;
    font-style: italic;

    &:hover,
    &:active,
    &.active,
    &:focus {
      color: $espn-dark;
    }
  }
  
  .project-highlights ol,
  .project-highlights ul {
    font-size: $summary-font-size;
    padding-left: 15px;
    margin-bottom: 0;
  }

  .project-sharing-controls .social-share {
    margin-left: 6px;
    margin-right: 6px;
  }

  .execution {
    color: $espn-dark;
    background-color: $espn-light;
    background-image: url($image-path + 'bg_project_execution.png');
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 32px 32px;
  }

  .execution-description-container {
    background-color: $espn-light;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .execution-media-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .video-item {
    padding-bottom: 80px;
  }
  
  .video-item-title-container {
    padding-top: 10px;
  }

  .video-title {
    font-size: 27px;
    margin: 0;
  }

  .video-detail-link {
    color: inherit;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: inherit;
    }
  }

  .video-caption {
    font-size: 16px;
  }

  .video-credits {
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
  }

  .video-credits .video-credit-label {
    display: inline-block;
    margin-right: 2px;
  }
  
  .project-detail-footer {
  	background-color: #fff;
  	color: #000;
  	padding: 40px 0px;
  	
  	.title {
  		text-transform: uppercase;
  		font-size: 11px;
  		font-weight: bold;
  	}
  	
  	.footer-tags {

  		.tags {
  			padding-top: 20px;
  		}

  		.tag-text {
  			font-style: italic;
  		}

      .execution-tag-container {
        padding-bottom: 10px;
      }
  	}

  	.related-projects {
      border-left: none;
      border-right: none;
  		
  		.project {
  			padding: 20px 20px 0 20px;
  		}
  	}

  	.footer-view-all {
  		
      .icon {
  			padding-top: 20px;
  		}

  		img {
  			height: 35px;
  		}
  	}
  	
  }
}

@media (min-width: $screen-sm-min){
  body.project-detail {

  }
}

@media (min-width: $screen-md-min){
  body.project-detail {

    .project-title {
      font-size: 30px;
    }
    
    .project-tagline {
      font-size: 96px;
    }

    .project-sharing-controls:first-child {
      margin-left: 0;
    }

    .execution-description-container {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .execution-media-container {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .video-item {
      padding-bottom: 40px;
    }

    .video-title {
      margin-top: 0;
    }

    .project-detail-footer {
      padding: 20px 0;
    }

    .project-detail-footer .related-projects {
      border-left: 1px solid $footer-border-color;
      border-right: 1px solid $footer-border-color;
    }

  }
}

@media (min-width: $screen-lg-min){
  body.project-detail {

  }
}