body.collection-detail {
  color: $espn-dark;
  background-color: $espn-light;
  background-image: url($image-path + 'bg_project_execution.png');
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 32px 32px;

  .footer { 
    margin-top: 40px; 
  }

  .collection-meta {
    padding-top: 8px;
    padding-bottom: 3px;
  }

  .collection-item-image-container {
    position: relative;
    width: 100%;
    min-height: 202px;
    max-height: 322px;
    overflow: hidden;
    margin: 11px auto;
  }

  .collection-item-container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .collection-item-title {
    margin-top: 0;
  }

  .collection-item-edit-controls,
  .edit-button {
    display: none !important;
  }

  textarea {
    padding: 10px;
    width: 100%;
    resize: vertical;
  }
}

body.collection-detail.editable {
  .collection-item-edit-controls,
  .edit-button {
    display: initial !important;
  }
  .collection-item-notes {
    display: none;
  }
}

@media (min-width: $screen-sm-min){
  body.collection-detail .collection-item-image-container {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $screen-xl-min){
  body.collection-detail .collection-item-image-container {
    max-width: 322px;
  }
}