<div class="container collecton-detail-container">
  <div class="row collection-toolbar-container">
    <div class="col-xs-12 col-sm-6">
      <div class="media">
        <a ui-sref="users.show({ id: collection.creator._id })" class="pull-left media-photo media-round" title="{{collection.creator.name}}">
          <img ng-src="" alt="{{collection.creator.name}}" width="50" height="50">
        </a>
        <div class="media-body">
          <div class="row collection-header-text">
            <div class="col-xs-12">
              <a ui-sref="users.collections({ id: collection.creator.slug })" class="h4">{{collection.creator.name}}'s Collections</a>
              <div>
                <span class="collection-name">{{collection.title}}</span>: <strong>{{collection.items.length}}</strong> <a ui-sref="collections.edit({ id: collection._id })" title="Edit" class="edit-button">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <!-- sharing controls -->
    </div>
  </div>
  <div class="row collection-item-container" ng-repeat="item in collection.$items">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="btn-group btn-group-justified visible-xs visible-sm" role="group">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Change</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default"><i class="fa fa-trash-o"></i> Remove</button>
        </div>
      </div>
      <div class="collection-item-image-container" background-image="item.thumbnailUrl">
        <div class="text-hide">{{item.thumbnailUrl}}</div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="collection-item-body">
            <h3 class="collection-item-title">{{item.title}}</h3>
            <p class="collection-item-description" ng-bind-html="item.description.html"></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <!-- large meta cell -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="collection-item-form-container">
            <form class="form update-collection-item-form" ng-attr-name="form_{{item._id}}" ng-submit="updateCollectionItem('form_' + item._id, item)" novalidate>
              <div class="form-group">
                <label class="sr-only">Add a Note</label>
                <div class="input-group col-xs-12">
                  <textarea name="note" class="form-control" ng-model="item.note" placeholder="Add Note"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group col-xs-12 col-sm-4 col-sm-offset-8 text-right">
                  <button type="submit" class="btn btn-default">Add Note</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-4">
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Change</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default"><i class="fa fa-trash-o"></i> Remove</button>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>