body.collections-list {
  color: $espn-dark;
  background-color: $espn-light;
  background-image: url($image-path + 'bg_project_execution.png');
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 32px 32px;
  
  .footer { 
    margin-top: 40px; 
  }
  
  .collection-list-item-container,
  .collection-list-item-image-container {
    position: relative;
    width: 100%;
    max-height: 322px;
    overflow: hidden;
    margin: 11px auto;
  }


  .collection-list-item-image-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    z-index: 2;
    background: $espn-dark;
    opacity: .3;
  }

  .collection-list-item-body {
    width: 100%;
    z-index: 3;

    .collection-title {
      color: $espn-light;
      font-size: 32px;
      font-weight: bold;
    }

    .collection-list-item-control {
      display: inline-block;
    }
  }

  .collection-list-item-count {
    margin-right: 2px;
  }
  
}

@media (min-width: $screen-sm-min){
  body.collections-list .collection-list-item-image-container {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $screen-xl-min){
  body.collections-list .collection-list-item-image-container {
    max-width: 322px;
  }
}