$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

// project specific
$espn-red: #f14237;
$espn-light: #fff;
$espn-dark: #000000;
$espn-font-family-sans-serif: "proxima-nova";
$espn-font-family-headings: "octin-college";

// bootstrap overrides
$text-color: #fff;
$body-bg: #333;
$link-color: $espn-red;
$font-family-sans-serif: $espn-font-family-sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

// Component styles are injected through grunt
// injector
@import '_variables.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'brands/detail/brands.detail.scss';
@import 'brands/list/brands.list.scss';
@import 'executions/detail/executions.detail.scss';
@import 'executions/list/executions.list.scss';
@import 'home/home.scss';
@import 'locations/detail/locations.detail.scss';
@import 'locations/list/locations.list.scss';
@import 'page/logos.scss';
@import 'page/page.scss';
@import 'platforms/detail/platforms.detail.scss';
@import 'platforms/list/platforms.list.scss';
@import 'projects/detail/projects.detail.scss';
@import 'projects/filter/projects.filter.scss';
@import 'projects/list/projects.list.scss';
@import 'videos/detail/videos.detail.scss';
@import 'videos/list/videos.list.scss';
@import 'videos/modal/videos.modal.scss';
@import 'fullpage/fullpage.scss';
@import 'menu/menu.scss';
@import 'modal/modal.scss';
@import 'scroll-down/scroll-down.scss';
@import 'tag/tag.scss';
@import 'video-embed/video-embed.scss';
// endinjector