body.video-detail {
	color: $espn-dark;
  background-color: $espn-light;
  background-image: url($image-path + 'bg_project_execution.png');
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 32px 32px;

	.footer { 
		margin-top: 40px; 
	}

	.video-hero-container {
		padding-top: 22px;
		padding-bottom: 22px;
	}

	.espn-title {
		margin-top: 0;
	}

}

@media (min-width: $screen-sm-min){
	body.video-detail {

    .video-hero-container {
      padding-bottom: 44px;
    }

  }

}