.location-list {
  background-image: url($image-path + "bg_locations_list.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 32px 32px;
}

.location-list-item {
  padding-top: 72px;

  .diamond {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $espn-red;
    @include rotate(45deg);
  }

  .location-name {
    margin-top: 22px;
    margin-bottom: 0;
    font-size: 20px;
    text-transform: uppercase;
    color: $espn-red;
  }

  .location-time {
    color: $gray-dark;
    text-transform: uppercase;
  }
}