.people-detail {
  color: #000000;
  background-color: #fff;
  background-image: url("/assets/images/bg_project_execution.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 32px 32px;

  .people-detail-container {
		.project-card-container {
			padding: 10px 20px 0 0;
		}
	}
  .social-tw {
    margin-bottom: 0;
  }
  .padding {
    padding: 10px;
  }
  .pbottom {
    padding-bottom: 20px;
  }
}