.btn-espn {
  border-radius: 0;
  border-width: 4px;
  border-style: solid;
  color: $espn-light;
  font-family: $espn-font-family-headings;
  font-weight: 400;
  text-transform: uppercase;  
}

.btn-espn.btn-espn-default {
  border-color: $espn-light;

  &:hover,
  &:active,
  &.active {
    border-color: darken($espn-light, 15%);
    color: darken($espn-light, 15%);
    text-decoration: none;
  }
}

.btn-block-xs {
  display: block;
  float: left;
  width: 100%;
  margin-top: 22px;
}

.btn-cover {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 1;
  box-shadow: none;
}

@media (min-width: $screen-sm-min){
  .btn-block-xs {
    display: inline-block;
    float: none;
    width: auto;
    margin-top: 0;
  }
}