hr {

  &.narrow {
    width: 50%;
  }

  &.narrower {
    width: 77%;
  }

  &.thick {
    border-top-width: 4px;
  }

  &.red {
    border-top-color: $espn-red;
  }

  &.dark {
    border-top-color: $gray-dark;
  }

  &.light {
    border-top-color: $espn-light;
  }

  &.short {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.espn-title {
  font-family: $espn-font-family-headings;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-espn {
  border-radius: 0;
  border-width: 4px;
  border-style: solid;
  border-color: $espn-light;
  color: $espn-light;
  font-family: $espn-font-family-headings;
  font-weight: 400;
  text-transform: uppercase;

  &:hover,
  &:active,
  &.active {
    border-color: darken($espn-light, 15%);
    color: darken($espn-light, 15%);
    text-decoration: none;
  }
}

.btn-block-xs {
  display: block;
  float: left;
  width: 100%;
  margin-top: 22px;
}

@media (min-width: $screen-sm-min){
  .btn-block-xs {
    display: inline-block;
    float: none;
    width: auto;
    margin-top: 0;
  }
}

.transform-translate-align {
  position: relative;

  &.absolute {
    position: absolute;
  }

  &.vertical {
    top: 50%;
    transform: translateY(-50%);
  }

  &.horizontal {
    left: 50%;
    transform: translateX(-50%);
  }

  &.horizontal.vertical {
    transform: translateX(-50%) translateY(-50%);
  }
}

.row.gutterless {
  // margin-left: 0;
  // margin-right: 0;

  & > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}
