hr {
  &.narrow {
    width: 50%;
  }

  &.thick {
    border-top-width: 4px;
  }

  &.red {
    border-top-color: $espn-red;
  }

  &.dark {
    border-top-color: $gray-dark;
  }
}

.btn-espn {
  border-radius: 0;
  border-width: 4px;
  border-style: solid;
  border-color: $espn-white;
  color: $espn-white;

  &:hover,
  &:active,
  &.active {
    border-color: darken($espn-white, 15%);
    color: darken($espn-white, 15%);
    text-decoration: none;
  }
}

