body.home {
  
  .espncw-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em;
    font-size: 1em;
  }

  .espncw-description {
    font-size: 18px;
  }
  
  .espncw-tagline {
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
  }

  .section {
    text-align: center;
    background-color: $gray-dark;
  }

  .controls-container {
    padding-top: 40px;
  }
}

@media (min-width: $screen-sm-min){
  body.home {
    .controls-container {
      padding-top: 76px;

      .intro-control {
        margin-left: 6px;
        margin-right: 6px;
      }
    }
  }
  
}