$espn-menu-font-size: 24px;
$espn-menu-line-height: $espn-menu-font-size;
$espn-menu-font-size-sm: 56px;
$espn-menu-line-height-sm: $espn-menu-font-size-sm;
$espn-menu-bg-color: rgba(0,0,0,0.9);

$espn-menu-item-bg-color-hover: transparentize($espn-red, .65);
$espn-menu-item-padding-top: 8px;
$espn-menu-item-padding-bottom: $espn-menu-item-padding-top;
$espn-menu-item-color: #808080;
$espn-menu-item-color-hover: #ffffff;

$espn-menu-logo-height: $logo-espncw-height;
$espn-menu-logo-margin-top: (($espn-menu-line-height + $espn-menu-item-padding-top + $espn-menu-item-padding-bottom) - $espn-menu-logo-height) / 2;
$espn-menu-logo-margin-top-sm: (($espn-menu-line-height-sm + $espn-menu-item-padding-top + $espn-menu-item-padding-bottom) - $espn-menu-logo-height) / 2;

$espn-menu-close-width: $espn-menu-font-size;
$espn-menu-close-height: $espn-menu-close-width;
$espn-menu-close-top: 16px;
$espn-menu-close-right: 16px;
$espn-menu-close-line-height: $espn-menu-font-size;
$espn-menu-close-width-sm: $espn-menu-font-size-sm;
$espn-menu-close-height-sm: $espn-menu-close-width-sm;
$espn-menu-close-top-sm: 16px;
$espn-menu-close-right-sm: 16px;
$espn-menu-close-line-height-sm: $espn-menu-font-size-sm;

.menu {
  position: fixed;
  right: -200px;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 25;
  text-align: center;
}

.menu.menu-open {
  width: 100%;
  height: 100%;
  right: 0;
  z-index: 125;
}

.menu-wrap {
  position: absolute;
  top: 0;
  left: 0px;
  background-color: $espn-menu-bg-color;
  width: 100%;
  height: 100%;
}

.menu .menu-link {
  font-size: $espn-menu-font-size;
  line-height: $espn-menu-line-height;
}

.menu .menu-link,
.menu .menu-label {
  display: block;
  padding-top: $espn-menu-item-padding-top;
  padding-bottom: $espn-menu-item-padding-bottom;
  font-size: $espn-menu-font-size;
  font-weight: 400;
  line-height: $espn-menu-line-height;
  letter-spacing: 0.1em;
  color: $espn-menu-item-color;
  text-transform: uppercase;
  background-color: transparent;
}

.menu .menu-link:hover,
.menu .menu-link:active,
.menu .menu-link:focus {
  color: $espn-menu-item-color-hover;
  background-color: $espn-menu-item-bg-color-hover;
  text-decoration: none;
}

// .menu .menu-link.active {
//   background-color: $espn-menu-item-color;
//   color: $espn-menu-item-color-hover;
// }

// .menu .menu-link.active:hover {
//   color: $espn-menu-item-color-hover;
//   background-color: $espn-menu-item-bg-color-hover;
// }

.menu .menu-logo {
  margin-top: $espn-menu-logo-margin-top;
}

.menu .menu-label {
  color: $espn-red;
  font-style: italic;
}

.menu .menu-link.social-share {
	display: inline-block;
	margin-left: 4px;
  margin-right: 4px;
}

.menu .social-share {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-top: 12px;
}

.menu .social-share:hover {
  background-color: transparent;
}

.menu .social-share > i {
  margin-top: 0;
}

.menu-close {
  cursor: pointer;
  display: block;
  position: absolute;
  font-size: $espn-menu-font-size;
  color: #808080;
  width: $espn-menu-close-width;
  height: $espn-menu-close-height;
  line-height: $espn-menu-close-line-height;
  top: $espn-menu-close-top;
  right: $espn-menu-close-right;
  @include transition(all .1s ease-in-out);
}

.menu-close:hover {
  color: #ffffff;
  @include transition(all .1s ease-in-out);
}

/* Push the body after clicking the menu button */
.body-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.body-push-to-left,
.body-push-to-right {
  position: static;
}

.body-push-to-right {
  left: 200px;
}

.body-push-to-left {
  right: -200px;
}

.menu,
.body-push {
  @include transition(all .1s ease-in-out);
}

#menu-toggle {
  position: absolute;
  top: 20px;
  left: -60px;
  z-index: 11;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #000;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background: rgba(255,255,255,0.50);
  @include transition(all .1s ease-in-out);
}

#menu-toggle.active {
	display: none;
}

#menu-toggle:hover {
  color: $espn-red;
  background: rgba(0,0,0,0.5);
  @include transition(all .1s ease-in-out);
}

@media (min-width: $screen-sm-min){
  .menu .menu-link, 
  .menu .menu-label {
    font-size: $espn-menu-font-size-sm;
    line-height: $espn-menu-line-height-sm;
  } 

  .menu .menu-logo {
    margin-top: $espn-menu-logo-margin-top-sm;
  }

  .menu-close {
    font-size: $espn-menu-font-size-sm;
    width: $espn-menu-close-width-sm;
    height: $espn-menu-close-height-sm;
    line-height: $espn-menu-close-line-height-sm;
    top: $espn-menu-close-top-sm;
    right: $espn-menu-close-right-sm;
  }
}