<nav class="menu" id="flyout-menu" menu="" ng-controller="MenuCtrl">
  <div class="menu-wrap">
    <i class="fa fa-times menu-close"></i>
    <a ui-sref="home" class="menu-link" title="Home">
      <span class="sr-only">ESPN CreativeWorks</span>
      <span class="logo-container menu-logo espncw xs"></span>
    </a>
    <a ui-sref="{{item.state}}" class="menu-link" ng-class="{ active: isActive(item.state) }" ng-attr-title="item.title" ng-repeat="item in menu">{{item.title}}</a>
  
    <a ui-sref="admin" class="menu-link" ng-show="isAdmin()" ng-class="{ active: isActive('admin') }">Admin</a>

    <span class="account-label menu-label" ng-hide="isLoggedIn()">Account</span>
    <a ui-sref="signup" class="menu-link" ng-hide="isLoggedIn()" ng-class="{ active: isActive('signup') }">Sign up</a>
    <a ui-sref="login" class="menu-link" ng-hide="isLoggedIn()" ng-class="{ active: isActive('login') }">Login</a>
    <span class="account-label menu-label" ng-show="isLoggedIn()">{{getCurrentAccount().name}}</span>
    <a ui-sref="settings" class="menu-link" ng-show="isLoggedIn()" ng-class="{ active: isActive('settings') }"><span>Settings</span></a>
    <a href="" class="menu-link" ng-click="logout()" ng-show="isLoggedIn()" ng-class="{ active: isActive('logout') }">Logout</a>

    <span class="social-label menu-label">Share</span>
    <a share="" href="javascript:void(0);" class="menu-link social-share" data-share-action="share-facebook" data-share-url="" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
    <a share="" href="javascript:void(0);" class="menu-link social-share" data-share-action="share-twitter" data-share-url="" data-share-text="" data-share-hashtags="" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
  </div>
  <div id="menu-toggle"><i class="fa fa-bars"></i></div>
</nav>